:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-button-accent: #188ce8;
  --bg-footer-color: #2f303a;
  --bg-buttons-color: #f5f4fa;
  --header-border-color: #ececec;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

/* List */

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Hidden title */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 94px;
  padding-bottom: 94px; */

  outline: 1px solid brown;
}

.container.header-flex {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.container .link {
  display: inline-block;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.logo.link {
  margin-bottom: 28px;
}

.header-logo {
  color: var(--header-logo-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.site-nav .item {
  outline: 1px solid #2196f3;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link {
  display: block;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.header-contacts .link {
  color: var(--primary-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 40px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--bg-footer-color);
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--footer-contacts-color);
}

.link.geolink {
  color: var(--primary-white-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.container.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Buttons */

.buttons {
  font-family: inherit;
  font-size: 16px;

  cursor: pointer;
}

.buttons.hero-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
}

.buttons.filter-buttons {
  font-weight: 500;
  line-height: 1.63;
  color: var(--title-text-color);

  background-color: var(--bg-buttons-color);
}

.buttons.hero-button:hover,
.buttons.hero-button:focus {
  background-color: var(--hero-button-accent);
}

.buttons.filter-buttons:hover,
.buttons.filter-buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Studio */

/* Hero */

.hero {
  text-align: center;

  background-color: var(--bg-footer-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.section.team-section {
  background-color: var(--bg-buttons-color);
}

/* Features */

.features-title {
  /* margin-bottom: 10px; */

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Profile */

.profile-section {
  padding-top: 0;
}
/* .container.container-profile {
  padding-top: 0;
} */

/* Team */

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

/* Portfolio */

/* Projects list */

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
